*{
  margin: 0;
  padding: 0;
}
body{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
}
#container{
  width: 850px;
  margin: 50px auto;
}
#header{
  height: 90px;
  background-color: grey;
}
#navigation{
  background-color: #afab66;
  height: 50px;
}
#navigation ul{

}
#navigation ul li{
  display: block;
  float: left;
  list-style: none;
  padding: 5px 5px;
  margin-top: 5px;
}
#navigation ul li:hover{
  background-color: #afab66;
  border-radius: 5px;
  border: 1px solid black;
}
#navigation ul li a{
  text-decoration: none;
  color: white;
}
.content{}
.content h2{
  border-bottom: 1px dashed black;
  margin-bottom: 10px;
  padding: 10px;
}
.content img{
  width: 80px;
  float: left;
  margin-right: 10px;
}
#content p{
  text-align: justify;
}